asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
cheroot==8.5.2
CherryPy==18.6.1
cherrys @ git+http://git.dev.sh.ctripcorp.com/xiansongwu/cherrys.git@09bed7e795463d18351ce849290f2e771f7c6f4d
contextvars==2.4
distro==1.6.0
Django==3.2.7
futures==3.1.1
idna==3.2
immutables==0.16
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.3.0
jaraco.text==3.5.1
Jinja2==3.0.1
MarkupSafe==2.0.1
more-itertools==8.9.0
msgpack==1.0.2
portend==2.7.1
psutil==5.8.0
pycrypto==2.6.1
pycryptodomex==3.10.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.2.1
redis==3.5.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
tempora==4.1.1
tornado==6.1
urllib3==1.26.6
zc.lockfile==2.0
